# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
png/
src/config.json
.vscode/
.idea/
*.log
OKXBot_Workspace/log/*
!OKXBot_Workspace/log/.gitkeep

test/
doc/CONFIG_README.md
doc/PROJECT_SUMMARY.md
doc/SCRIPT_USAGE.md
doc/STRATEGY_DETAILS.md
OKXBot_Workspace/doc/CONFIG_README.md
OKXBot_Workspace/doc/PROJECT_SUMMARY.md
OKXBot_Workspace/doc/SCRIPT_USAGE.md
OKXBot_Workspace/doc/STRATEGY_DETAILS.md
OKXBot_Workspace/src/config.json
