# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
src/config.json
.vscode/
.idea/
*.log
OKXBot_Workspace/log/*
!OKXBot_Workspace/log/.gitkeep
OKXBot_Workspace/png/*
!OKXBot_Workspace/png/.gitkeep


test/
doc/*.md
OKXBot_Workspace/doc/*.md
OKXBot_Workspace/src/config.json
